<h1><%= @list.name %></h1>

<% if @list.tasks.any? %>
  <h3>Incomplete Tasks:</h3>
  <ul>
    <% @list.tasks.not_done.each do |task| %>
      <li>
        <%= task.description %>
        <%= form_for [@list, task] do |f| %>
        <%= f.check_box :done %>
        <%= f.submit %>
        <% end %>
        <%= link_to "Edit", edit_list_task_path(@list, task) %>
        <%= link_to "Delete", list_task_path(@list, task),
                              :data => {:confirm => "Ya sure mate?",
                                        :method => "delete"} %>
      </li>
    <% end %>
  </ul>
  <h3>Completed Tasks:</h3>
  <ul>
    <% @list.tasks.done.each do |task| %>
      <li><%= task.description %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "New Task", new_list_task_path(@list) %></p>

<p><%= link_to "Edit", edit_list_path(@list) %></p>
<p><%= link_to "Delete", list_path(@list),
                        :data => {:confirm => "You sure?",
                                  :method => "delete"} %></p>

<p><%= link_to "Return to Lists", lists_path %></p>
